<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
CREATE TABLE actor (
  actor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
  first_name VARCHAR(45) NOT NULL,
  last_name VARCHAR(45) NOT NULL,
  last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY  (actor_id),
  KEY idx_actor_last_name (last_name)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;
-->

<mapper namespace="ActorRepository">

  <select id="select" resultType="map">
    SELECT * FROM ACTOR WHERE ACTOR_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM ACTOR
  </select>

  <delete id="delete" parameterType="int">
    DELETE FROM ACTOR WHERE ACTOR_ID = #{value}
  </delete>

</mapper>