<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryRepository">

  <select id="select" resultType="map">
    SELECT * FROM CATEGORY WHERE CATEGORY_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM CATEGORY
  </select>

  <insert id="insert" parameterType="map"
          useGeneratedKeys="true" keyProperty="category_id" keyColumn="category_id">

    <selectKey keyProperty="category_id" resultType="int" order="BEFORE">
      SELECT MAX(category_id) + 1 AS category_id FROM CATEGORY
    </selectKey>

    INSERT INTO CATEGORY (category_id, name)
    VALUES (#{category_id}, #{name})
  </insert>
</mapper>